{% extends 'base.html' %}
{% block content %}

<h3>Record Library</h3>

{% for record in records %}
  <div class="card">
    <a href="{% url 'detail' record.id %}" >
      <div class="card-content">
        <span class="card-title">{{ record.name }}</span>
        <p>Artist: {{ record.artist }}</p>
        <p>Format: {{ record.format}}</p>
        <p>Description: {{ record.description }}</p>
        <p>Genre: {{ record.genre }}</p>
        <p>Released: {{record.released}} </p>
      </div>
    </a>
     <form class='right-align' method="POST" action="{% url 'delete' record.id %}">
        {% csrf_token %}
        <input type="submit" class="btn" value="Delete" />
     </form>
  </div>
{% endfor %}

{% endblock %}