{% extends 'base.html' %}
{% block content %}

<h3>About the Record Collector</h3>
<hr />
<div class='grey lighten-5'>
<h4>This website is a tool that allows users to log how many times they've played their favorite records, the maintenance that they've given them and what cleaning equipment and products they are using to do so. <br>
<br>
This allows record collectors to claim mint status on their favorite albums, and to resell them at a good price.</h4>
<hr />
<h6>This website was created by Raul Daniel Trejo.</h6>
</div>

{% endblock %}